/* >>> file start: stc/flatmedia/migrate-photo.css */
/* Photo Calculate */

.p-migrate-photo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  }

.p-migrate-photo * {
  box-sizing: border-box;
}

.p-migrate-photo .s-layout {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  min-height: inherit;
  margin: 0;
}

.p-migrate-photo .s-layout::after {
  display: none;
}

.p-migrate-photo .s-content-wrapper {
  width: 100%;
}

.p-migrate-photo .s-body {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-migrate-photo .s-footer {
  box-sizing: content-box;
  box-sizing: initial;
  margin: 0;
}

.p-migrate-photo .container {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 18px;
}

.p-migrate-photo .сontent {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 26.66667em;
  min-height: 22.22222em;
  padding: 1.77778em       2.22222em       1.77778em;
}

.p-migrate-photo .сontent__title {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  line-height: 1em;
  text-transform: uppercase;
  margin: 0 0 64px;
  padding-left: 3.66667em;
}

.p-migrate-photo .сontent__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 2em);
  display: block;
  width: calc(100% + 10vw);
  height: 2px;
  background-color: #4DE077;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}

.p-migrate-photo .сontent__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2.66667em;
  height: 2.66667em;
  border-radius: 100%;
  background-image: url(/img/svg/icons/camera.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #4DE077;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.p-migrate-photo .сontent__body--mobile {
  display: none;
}

.p-migrate-photo .сontent__status {
  content: "";
  display: block;
  width: 88px;
  height: 88px;
  margin: 40px auto;
  background: url(/img/svg/icons/completed.svg)
}

.p-migrate-photo .сontent__slogan {
  font-size: 2.44444em;
  line-height: 1em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.36364em;
}

.p-migrate-photo .сontent__desc {
  font-size: 18;
  line-height: 1.33333em;
  margin: 0;
  margin-bottom: 2.22222em;
}

.p-migrate-photo .сontent__desc--center {
  text-align: center;
}

.p-migrate-photo .сontent__btn {
  position: relative;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 32px;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #00A3D9;
  cursor: pointer;
  flex-shirnk: 0;
}

.p-migrate-photo .сontent__btn--loader {
  color: transparent;
}

.p-migrate-photo .сontent__btn--loader::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: -12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(data:image/svg+xml,%3Csvg%20class%3D%22svgpreloader%20svgpreloader-svg%22%20viewBox%3D%220%200%2031%2031%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M15.5%2C31%20C24.0604136%2C31%2031%2C24.0604136%2031%2C15.5%20C31%2C6.93958638%2024.0604136%2C0%2015.5%2C0%20C6.93958638%2C0%200%2C6.93958638%200%2C15.5%20C0%2C24.0604136%206.93958638%2C31%2015.5%2C31%20Z%20M15.5%2C24%20C20.1944204%2C24%2024%2C20.1944204%2024%2C15.5%20C24%2C10.8055796%2020.1944204%2C7%2015.5%2C7%20C10.8055796%2C7%207%2C10.8055796%207%2C15.5%20C7%2C20.1944204%2010.8055796%2C24%2015.5%2C24%20Z%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M15.7960584%2C7.00505942%20L15.8509795%2C0.00389541322%20C20.1020367%2C0.0983450811%2023.9309467%2C1.90428116%2026.675877%2C4.7598713%20L26.675877%2C4.7598713%20L21.7412314%2C9.72958246%20C20.2508535%2C8.11838542%2018.1443589%2C7.08544079%2015.7960584%2C7.00505942%20Z%22%20fill%3D%22%23999999%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E), none;
  -webkit-animation: svgrotate .57s linear infinite;
          animation: svgrotate .57s linear infinite;
}

.p-migrate-photo .сontent__btn:hover,
      .p-migrate-photo .сontent__btn:focus {
  outline: none;
  border-color: #00C0FF;
  background-color: #00C0FF;
}

.p-migrate-photo .сontent__btn:active {
  border-color: #0996C5;
  background-color: #0996C5;
}

.p-migrate-photo .сontent__btn--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.p-migrate-photo .сontent__btn--disabled:hover,
        .p-migrate-photo .сontent__btn--disabled:focus,
        .p-migrate-photo .сontent__btn--disabled:active {
  border: none;
  background-color: #00A3D9;
}

.p-migrate-photo .сontent__btn--center {
  margin: 0 auto;
  margin: initial auto;
}

.p-migrate-photo .сontent__tooltip {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  margin-bottom: 16px;
  color: #8C969B;
}

.p-migrate-photo .сontent__invisible {
  visibility: hidden;
}

.p-migrate-photo .сontent__control--second {
  font-size: 14px;
  color: #8C969B;
}

.p-migrate-photo .сontent__control--second .checkbox:focus + .custom--label::after {
  width: 18px;
  height: 18px;
  margin-top: -9px;
}

.p-migrate-photo .сontent__control--second .custom--label {
  padding-left: 22px;
}

.p-migrate-photo .сontent__control--second .custom--label::before {
  width: 16px;
  height: 16px;
  margin-top: -8px;
}

.p-migrate-photo .aside-content {
  position: relative;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 67%;
  background-image: url(/img/flatmedia/migrate/splash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.p-migrate-photo .progress-bar {
  position: absolute;
  bottom: 48px;
  left: 60px;
}

.p-migrate-photo .progress-bar__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  display: block;
  margin: 0;
  color: #FFFFFF;
}

.p-migrate-photo .progress-bar__count {
  font-size: 88px;
  line-height: 98px;
  height: 98px;
  font-weight: lighter;
  margin: 0;
  color: #FFFFFF;
}

.html-ie11 .p-migrate-photo .сontent,
  .html-ie11 .p-migrate-photo .сontent__wrap,
  .html-ie11 .p-migrate-photo .сontent__form {
  width: 100%;
}

.html-ie11 .p-migrate-photo .сontent--migrate {
  min-height: 30em;
}

.html-ie11 .p-migrate-photo .chart--mobile {
  height: auto;
}

.html-ie11 .p-migrate-photo .chart--mobile .chart__item {
  padding: 18px 16px 14px;
}

@media all and (min-width: 650px) {
  .html-ie11 .s-footer {
    min-height: 200px;
  }
}

/* TODO px to em, write to vars */

@media all and (max-width: 650px) {
  .p-migrate-photo .container {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-migrate-photo .сontent {
    -webkit-flex-grow: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
    max-width: 100%;
    min-height: inherit;
    padding: 22px 40px;
  }
  
  .p-migrate-photo .сontent__body {
    flex-shrink: 0;
  }
  
  .p-migrate-photo .сontent__body,
    .p-migrate-photo .aside-content {
    position: relative;
    width: 100%;
  }
  .p-migrate-photo .aside-content::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.50196);
  }
  .p-migrate-photo .сontent__body--desktop {
    display: none
  }
  .p-migrate-photo .сontent__body--mobile {
    position: relative;
    display: block;
    max-width: 560px;
    padding: 64px 40px 64px;
    z-index: 11;
  }
  .p-migrate-photo .сontent__body--progress {
    max-width: 100%;
    text-align: center;
    padding: 48px 60px 24px;
  }
  .p-migrate-photo .сontent__title {
    margin: 0;
  }
  .p-migrate-photo .сontent__title::after {
    display: none;
  }
  .p-migrate-photo .сontent__slogan {
    color: #FFFFFF;
  }
  .p-migrate-photo .сontent__desc {
    color: #FFFFFF;
  }
  .p-migrate-photo .progress-bar {
    position: relative;
    bottom: auto;
    bottom: initial;
    left: auto;
    left: initial;
    margin-top: 24px;
    z-index: 15;
  }
  .p-migrate-photo .progress-bar__title {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    display: block;
    color: #FFFFFF;
  }
  .p-migrate-photo .progress-bar__count {
    font-size: 60px;
    line-height: 70px;
    font-weight: lighter;
    text-align: center;
    color: #FFFFFF;
  }

  .html-ie11 .p-migrate-photo .сontent--migrate {
    display: block;
  }

  .html-ie11 .p-migrate-photo .сontent--migrate .сontent__body {
    display: block;
  }

  .html-ie11 .p-migrate-photo .aside-content {
    height: 100%;
  }
}

@media all and (max-width: 600px) {
  .p-migrate-photo .сontent__body--mobile {
    max-width: 456px;
    padding: 40px 12px 40px;
  }
  .p-migrate-photo .сontent__body--progress {
    max-width: 100%;
  }
}

@media all and (max-width: 420px) {
  .p-migrate-photo .сontent__body--mobile {
    padding-top: 40px;
  }
  .p-migrate-photo .сontent__slogan {
    font-size: 32px;
  }
  .p-migrate-photo .сontent__desc {
    font-size: 16px;
  }
}

/* Photo Migrate */

.p-migrate-photo .сontent--migrate {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.p-migrate-photo .сontent--migrate .сontent__title {
  margin-bottom: 42px;
}

.p-migrate-photo .сontent--migrate .сontent__title::after {
  display: none;
}

.p-migrate-photo .сontent--migrate .сontent__subtitle {
  font-size: 28px;
  line-height: 32px;
  margin: 0;
  margin-bottom: 16px;
}

.p-migrate-photo .сontent--migrate .сontent__subtitle--center {
  text-align: center;
}

.p-migrate-photo .сontent--migrate .сontent__desc {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 32px;
}

.p-migrate-photo .сontent--migrate .сontent__body {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.p-migrate-photo .сontent--migrate .сontent__body--center {
  margin-bottom: 60px;
}

.p-migrate-photo .сontent--migrate .сontent__body--center .сontent__form {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-migrate-photo .сontent--migrate .сontent__form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-migrate-photo .сontent--migrate .сontent__form-list {
  list-style: none;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.p-migrate-photo .сontent--migrate .сontent__form-item {
  margin-bottom: 14px;
}

.p-migrate-photo .сontent--migrate .сontent__wrap {
  margin-bottom: 32px;
}

.p-migrate-photo .aside-content--mobile,
  .p-migrate-photo .сontent--mobile {
  display: none;
}

.p-migrate-photo .chart {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.p-migrate-photo .chart--mobile {
  display: none;
}

.p-migrate-photo .chart__list {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  height: 100%;
  width: 100%;
}

.p-migrate-photo .chart__item {
  position: relative;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 16px;
  background-color: #E8EDDF;
}

.p-migrate-photo .chart__item--ya {
  background-color: #FFD166;
}

.p-migrate-photo .chart__item--fl {
  background-color: #CB78D9;
}

.p-migrate-photo .chart__item--pb {
  background-color: #76EEEC;
}

.p-migrate-photo .chart__item--go {
  background-color: #4DE077;
}

.p-migrate-photo .chart__item--db {
  background-color: #EC0B43;
}

.p-migrate-photo .chart__item--lj {
  background-color: #00A3D9;
}

.p-migrate-photo .chart__host-percent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #000000;
  opacity: .08;
}

.p-migrate-photo .chart__host-name,
    .p-migrate-photo .chart__host-count {
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.p-migrate-photo .chart__nodata {
  font-size: 18px;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-bottom: 40px;
  box-shadow: inset 0 0 6px #BBBBBB;
  background-color: #EEEEEE;
  color: #829399;
}

.p-migrate-photo .aside-content--migrate {
  background: none;
}

@media all and (max-width: 650px) {
  .p-migrate-photo .chart__list {
    height: auto;
    height: initial;
  }
  .p-migrate-photo .chart--mobile {
    display: block;
    margin: 0 -40px;
    width: calc(100% + 80px);
  }
  .p-migrate-photo .chart__dropdown-btn {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    padding: 12px 22px;
    border: none;
    border-top: 1px solid #E8E8E8;
    color: #00A3D9;
    background: #F6F7F8;
    cursor: pointer;
  }
  .p-migrate-photo .chart__dropdown-btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 6px;
    width: 20px;
    height: 8px;
    margin-top: -4px;
    background: url(../img/schemius/s-icons.svg?v=40651) no-repeat scroll -181px 0 rgba(0, 0, 0, 0);
    pointer-events: none;
  }
  .p-migrate-photo .chart__dropdown-btn:focus,
        .p-migrate-photo .chart__dropdown-btn:active {
    outline: none;
    background: #EFEFEF;
  }
  .p-migrate-photo .chart__dropdown-btn--open::after {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  .p-migrate-photo .сontent--migrate {
    padding-bottom: 40px;
  }
  .p-migrate-photo .сontent--migrate .сontent__desc {
    color: #8C969B;
  }
  .p-migrate-photo .сontent--migrate .сontent__title {
    margin-bottom: 22px;
  }
  .p-migrate-photo .сontent--migrate .сontent__subtitle {
    margin-top: 22px;
  }
  .p-migrate-photo .aside-content--migrate {
    display: none;
  }
}
/* <<< file end: stc/flatmedia/migrate-photo.css */

/*# map link was there [migrate-photo.css.map] */
