/* >>> file start: stc/svg/flaticon.css */
.flaticon {
    fill: #7A9199;
    }
.flaticon--arrow-bottom-bold {
    width: 10px;
    height: 7px;
    fill: #7A9199;
    }
.flaticon--arrow-bottom-solid {
    width: 7px;
    height: 5px;
    fill: #7A9199;
    }
.flaticon--arrow-down {
    width: 16px;
    height: 23px;
    fill: #7A9199;
    }
.flaticon--arrow-dropdown {
    width: 18px;
    height: 10px;
    fill: #7A9199;
    }
.flaticon--arrow-left-bold {
    width: 10px;
    height: 16px;
    fill: #7A9199;
    }
.flaticon--arrow-left {
    width: 30px;
    height: 56px;
    fill: #7A9199;
    }
.flaticon--arrow-right-bold {
    width: 10px;
    height: 16px;
    fill: #7A9199;
    }
.flaticon--arrow-right-long {
    width: 16px;
    height: 9px;
    fill: #7A9199;
    }
.flaticon--arrow-right {
    width: 30px;
    height: 56px;
    fill: #7A9199;
    }
.flaticon--arrow-rounded-down {
    width: 12px;
    height: 12px;
    fill: #FF3541;
    }
.flaticon--arrow-rounded-up {
    width: 12px;
    height: 12px;
    fill: #00AD66;
    }
.flaticon--arrow-up {
    width: 16px;
    height: 23px;
    fill: #7A9199;
    }
.flaticon--aside {
    width: 30px;
    height: 29px;
    fill: #7A9199;
    }
.flaticon--attention {
    width: 81px;
    height: 81px;
    fill: #7A9199;
    }
.flaticon--burger {
    width: 20px;
    height: 16px;
    fill: #9BBFCE;
    }
.flaticon--camera {
    width: 30px;
    height: 28px;
    fill: #7A9199;
    }
.flaticon--cart {
    width: 16px;
    height: 16px;
    fill: #7A9199;
    }
.flaticon--check {
    width: 16px;
    height: 11px;
    fill: #7A9199;
    }
.flaticon--comments-add {
    width: 30px;
    height: 24px;
    fill: #7A9199;
    }
.flaticon--comments-bold--99bfcc {
    width: 17px;
    height: 16px;
    fill: #99BFCC;
    }
.flaticon--comments-bold {
    width: 17px;
    height: 16px;
    fill: #7A9199;
    }
.flaticon--comments-read {
    width: 30px;
    height: 24px;
    fill: #7A9199;
    }
.flaticon--community {
    width: 16px;
    height: 16px;
    fill: #7A9199;
    }
.flaticon--cross--w14--fff {
    width: 14px;
    height: 14px;
    fill: #FFF;
    }
.flaticon--cross--w20--99bfcc {
    width: 20px;
    height: 20px;
    fill: #99BFCC;
    }
.flaticon--cross-bold {
    width: 30px;
    height: 30px;
    fill: #7A9199;
    }
.flaticon--cross {
    width: 16px;
    height: 16px;
    fill: #7A9199;
    }
.flaticon--delete_repost {
    width: 16px;
    height: 18px;
    fill: #7A9199;
    }
.flaticon--discovery {
    width: 36px;
    height: 20px;
    fill: #39BF71;
    }
.flaticon--duplicate {
    width: 18px;
    height: 19px;
    fill: #7A9199;
    }
.flaticon--edit {
    width: 21px;
    height: 25px;
    fill: #7A9199;
    }
.flaticon--edit_entry {
    width: 18px;
    height: 19px;
    fill: #7A9199;
    }
.flaticon--eye {
    width: 18px;
    height: 12px;
    fill: #7A9199;
    }
.flaticon--facebook {
    width: 8px;
    height: 16px;
    fill: #fff;
    }
.flaticon--flag {
    width: 16px;
    height: 17px;
    fill: #7A9199;
    }
.flaticon--friend-list {
    width: 21px;
    height: 17px;
    fill: #99BFCC;
    }
.flaticon--googleplus {
    width: 16px;
    height: 14px;
    fill: #fff;
    }
.flaticon--googleplus2015 {
    width: 22px;
    height: 14px;
    fill: #fff;
    }
.flaticon--help {
    width: 27px;
    height: 22px;
    fill: #9BBFCE;
    }
.flaticon--helpicon {
    width: 20px;
    height: 20px;
    fill: #7A9199;
    }
.flaticon--hide {
    width: 16px;
    height: 16px;
    fill: #7A9199;
    }
.flaticon--hourglass {
    width: 9px;
    height: 13px;
    fill: #7A9199;
    }
.flaticon--instagram {
    width: 16px;
    height: 16px;
    fill: #fff;
    }
.flaticon--like {
    width: 25px;
    height: 24px;
    fill: #7A9199;
    }
.flaticon--link {
    width: 16px;
    height: 16px;
    fill: #7A9199;
    }
.flaticon--lj-colored {
    width: 22px;
    height: 22px;
    fill: #7A9199;
    }
.flaticon--lj {
    width: 16px;
    height: 16px;
    fill: #fff;
    }
.flaticon--login {
    width: 20px;
    height: 20px;
    fill: #9BBFCE;
    }
.flaticon--logout {
    width: 30px;
    height: 27px;
    fill: #7A9199;
    }
.flaticon--mail {
    width: 24px;
    height: 17px;
    fill: #9BBFCE;
    }
.flaticon--mailru {
    width: 16px;
    height: 16px;
    fill: #fff;
    }
.flaticon--medius-comments {
    width: 18px;
    height: 17px;
    fill: #7A9199;
    }
.flaticon--medius-reposts {
    width: 18px;
    height: 16px;
    fill: #7A9199;
    }
.flaticon--mem_add {
    width: 16px;
    height: 15px;
    fill: #7A9199;
    }
.flaticon--menu {
    width: 25px;
    height: 24px;
    fill: #7A9199;
    }
.flaticon--moimir {
    width: 22px;
    height: 15px;
    fill: #7A9199;
    }
.flaticon--notifications {
    width: 16px;
    height: 19px;
    fill: #7A9199;
    }
.flaticon--odnoklassniki {
    width: 13px;
    height: 23px;
    fill: #7A9199;
    }
.flaticon--openid {
    width: 16px;
    height: 15px;
    fill: #fff;
    }
.flaticon--plus {
    width: 16px;
    height: 16px;
    fill: #7A9199;
    }
.flaticon--pocket {
    width: 22px;
    height: 20px;
    fill: #7A9199;
    }
.flaticon--points {
    width: 24px;
    height: 8px;
    fill: #7A9199;
    }
.flaticon--post {
    width: 30px;
    height: 30px;
    fill: #7A9199;
    }
.flaticon--repost {
    width: 22px;
    height: 21px;
    fill: #7A9199;
    }
.flaticon--rss {
    width: 32px;
    height: 32px;
    fill: #7A9199;
    }
.flaticon--search {
    width: 21px;
    height: 21px;
    fill: #9BBFCE;
    }
.flaticon--security-custom {
    width: 30px;
    height: 24px;
    fill: #7A9199;
    }
.flaticon--security-private {
    width: 24px;
    height: 20px;
    fill: #7A9199;
    }
.flaticon--security-protected {
    width: 22px;
    height: 29px;
    fill: #7A9199;
    }
.flaticon--settings {
    width: 27px;
    height: 27px;
    fill: #7A9199;
    }
.flaticon--share {
    width: 16px;
    height: 18px;
    fill: #7A9199;
    }
.flaticon--spinner {
    width: 32px;
    height: 32px;
    fill: #7A9199;
    }
.flaticon--sticky {
    width: 22px;
    height: 22px;
    fill: #7A9199;
    }
.flaticon--tumblr {
    width: 10px;
    height: 16px;
    fill: #fff;
    }
.flaticon--twitter {
    width: 16px;
    height: 13px;
    fill: #fff;
    }
.flaticon--unwatch_comments {
    width: 16px;
    height: 16px;
    fill: #7A9199;
    }
.flaticon--upload-image {
    width: 30px;
    height: 30px;
    fill: #7A9199;
    }
.flaticon--userhead {
    width: 16px;
    height: 16px;
    fill: #7A9199;
    }
.flaticon--video-camera {
    width: 28px;
    height: 28px;
    fill: #7A9199;
    }
.flaticon--vk {
    width: 20px;
    height: 12px;
    fill: #fff;
    }
.flaticon--watch_comments {
    width: 16px;
    height: 16px;
    fill: #7A9199;
    }
.flaticon--widgets {
    width: 22px;
    height: 22px;
    fill: #7A9199;
    }
/* LJSUP-25556 */
svg symbol {
    overflow: visible;
    }

/* <<< file end: stc/svg/flaticon.css */

/*# map link was there [flaticon.css.map] */
