/* >>> file start: stc/lenta/lenta_v3/lenta-up.css */
/* Widgets Up and New */
.l-flatslide-scroll-update {
    }
.scroll-update__button {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        }
/* Update feed */
.l-flatslide-update {
    display: none;
    }
.js--has-new-items .l-flatslide-update {
        display: block;
        }
.js--has-new-items .l-flatslide-scrolltop-count {
        display: block;
        }
@media all and (max-width: 650px) {
    .l-flatslide-update .i-supus {
        right: -7px;
        margin-top: -7px;
        font-size: 7px;
        }
}

/* <<< file end: stc/lenta/lenta_v3/lenta-up.css */

/*# map link was there [lenta-up.css.map] */
