/* >>> file start: stc/ljuser/ljuser_light.css */
/* LJUSER light */

/* root */

HTML BODY .i-ljuser {
    text-transform: none;
    font-family: 'ProximaNova', sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    }

/* userhead */

HTML BODY .i-ljuser .i-ljuser-profile {
        display: inline-block;
        width: 16px !important;
        height: 16px !important;
        margin: 0 2px 0 0 !important;
        }

.html-ie11 BODY .i-ljuser .i-ljuser-userhead {
            position: relative;
            top: -4px;
            }

/* username */

HTML BODY .i-ljuser-username {
        }

/* remove font weight */

HTML BODY .i-ljuser-username B {
            font-weight: inherit;
            }

/* <<< file end: stc/ljuser/ljuser_light.css */

/*# map link was there [ljuser_light.css.map] */
